[meta]
    title = "Inter-cycle dependence + a cold-start task"
[cylc]
    UTC mode = True
[scheduling]
    #runahead limit = 120
    initial cycle point = 20130808T00
    #final cycle point = 20130909T00
    [[dependencies]]
        [[[R1]]]
            graph = "prep => foo"
        [[[PT12H]]]
            graph = "foo[-PT12H] => foo => bar"
[runtime]
[[root]]
script = "sleep 4; echo 'done!'"
#[visualization]
#    initial cycle point = 20130808T00
#    final cycle point = 20130808T12
#    [[node attributes]]
#        foo = "color=red"
#        bar = "color=blue"

