[cylc]
   [[reference test]]
       required run mode = live
       live mode suite timeout = PT5M
[scheduling]
    [[dependencies]]
        graph = a:start => b
[runtime]
    [[a]]
        script = """
            umask 0007
            rm -rf testfile
            touch testfile
            """
        [[[remote]]]
            host=cylcpbs_pbs_1
        [[[job]]]
            batch system = pbs
        [[[directives]]]
            -W umask=0077

    [[b]]
        script = cylc poll "$CYLC_SUITE_NAME" 'a'

# from Cylc 7.8.0 code, cylc/tests/cylc-poll/07-pbs
