#!jinja2
[meta]
    title = "Docker distributed environment test suite"
    description = """Suite for testing the docker distributed environment.
    Based on Dave's evil load test."""

{% set N_LOCAL = 10 %}
{% set N_REMOTE_PER_LOCAL = 2 %}
[cylc]
#    [[job submission]]
#        delay between batches = 0
    [[environment]]
        CYLC_TASK_SSH_LOGIN_SHELL = True
        CYLC_DIR = /opt/cylc
[scheduling]
    initial cycle point = 20120101
    final cycle point   = 20120110
    cycling mode        = integer
    max active cycle points = 100
#    [[special tasks]]
#        cold-start = cold_start
    [[dependencies]]
        [[[R1]]]
            graph = """
                {% for X in range( 1, N_LOCAL + 1 ) %}
                  local_{{ X }}[-P24] | cold_start => local_{{ X }}
                  {% for Y in range( 1, N_REMOTE_PER_LOCAL + 1 ) %}
                    local_{{ X }} => remote_{{ X }}_{{ Y }}
                  {% endfor %}
                {% endfor %}
            """
[runtime]
    [[root]]
        env-script = "PS4='$(date): ';set -x"
        script = "echo Running on $(hostname) in $PWD; sleep 5"
    [[REMOTE]]
        [[[job]]]
            batch system = at
        [[[remote]]]
            host = `seq 5 | xargs -I{} echo "distributed_cylc-ssh_{}" | xargs shuf -n1 -e`
{% for X in range( 1, N_LOCAL + 1 ) %}
  {% for Y in range( 1, N_REMOTE_PER_LOCAL + 1 ) %}
    [[remote_{{ X }}_{{ Y }}]]
        inherit = REMOTE
  {% endfor %}
{% endfor %}
